<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css">
    <title>My Blog</title>
</head>

<body>
    <% if (user) { %>
        <h1>Welcome to the app, <%= user.username %>!</h1>
        <p>
            <a href="/auth/sign-out">Sign out</a>
        </p>
        <% } else { %>
            <h1>Welcome to the app, guest.</h1>
            <p>
                <a href="/auth/sign-up">Sign up</a> or <a href="/auth/sign-in">sign in</a>.
            </p>
            <% } %>

    <nav>
        <ul>
            <li>
                <a class="index-link" href="/entries">Browse Blog Entries</a>
            </li>
            <li>
                <a class="index-link" href="/entries/new">Create New Entry</a>
            </li>

        </ul>
    </nav>
</body>
<footer>Background by <a href="https://www.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_13451525.htm#fromView=keyword&page=1&position=4&uuid=f211402a-d0cf-40ab-8f68-55f49087bb81&query=Pastel+Wallpaper">Freekpik</a></footer>
</html>