@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Rochester&family=Single+Day&display=swap');

body {
    /* background: #97a4f0; */
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Single Day", sans-serif;
    display: flex;
    font-size: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    color: rgb(6, 30, 93);
    text-align: center;
    min-height: 100vh
    
}


input:invalid,
textarea:invalid {
    border: 1px solid rgb(255, 0, 0);
}

form {
    font-family: "Single Day", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #d2bdf2;
    padding: 20px 30px;
    border: dashed rgb(29, 73, 166) 3px;
    border-radius: 10px;
    box-shadow: 5px 6px #6e34a3;
    margin: 20px 10px;
}

button {
    align-self: center;
    margin: 10px 4px 4px 4px;
    background-color: #efdff3;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    border: dashed;
    width: 15em;
}


.delete-form {
    padding: 0;
    box-shadow: 0 0;
    background-color: transparent;
    height: 50px;
    margin: 0 20px 0 0;
    min-height: 100%;
    border: none;
}
textarea {
    width: 100%;
    /* Makes it take the full width of its container */
    font-size: 15px;
    /* Increases the text size for better readability */

}


a {
    text-decoration: none;
}

li {
    list-style: none;
}


a:hover,
button:hover {
    box-shadow: 10px 10px 35px rgb(247, 153, 229);
    transform: scale(1.10);
    text-shadow: 0 0 35px rgba(255, 255, 255, 1), 0 0 35px rgba(255, 255, 255, 0.953), 10px 10px 3px rgb(253, 253, 253);
    cursor: pointer;
}


.entry-details {
    display: flex;
    justify-content: center;
    align-items: center;

}


.entry-display {
    background-color: rgb(217, 220, 227);
    border-radius: 10px;
    border: dashed rgb(113, 158, 255) 3px;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100%; /* stretch to the whole form's width */
}

.auth-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

