<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entries Index</title>
</head>
<a href=""></a>
<body>
    <h1>All Entries</h1>
    <ul>
        <% entries.forEach(entry=> { %>
            <li><a href="/entries/<%= entry._id %>">><%= entry.title %></a></li>
                <% }); %>
    </ul>
</body>

</html>