<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Entries Index</title>
</head>
<a href=""></a>

<body>
    <h1>All Entries</h1>
    <nav>
        <ul>
            <li><a href="/">Back to Home</a></li>
        </ul>
        <ul>
            <li><a href="/entries/new">Create New Blog Entry</a></li>
        </ul>
    </nav>
    <ul>
        <% entries.forEach(entry=> { %>
            <li><a href="/entries/<%= entry._id %>"><%= entry.title %></a></li>
            <% }); %>
    </ul>
</body>

</html>